.editor {
  position: relative;
}

/* --- footer: */

.editor_space {
  height: 24px;
  background-color: #fff;
}

/* --- box: */

.editor_box {
  display: flex;
  background-color: #fff;
  position: relative;
}

.editor.hovered .editor_box {
  background-color: transparent;
}

.editor.focused .editor_box {
  background-color: transparent;
}

.editor.selected .editor_box {
  background-color: #188fff20;
}

/* --- side: */

.editor_side {
  flex-shrink: 0;
  flex-grow: 0;
}

/* --- menu: */

.editor_menu_btn {
  visibility: hidden;
}

.editor.hovered .editor_menu_btn,
.editor.focused .editor_menu_btn {
  visibility: visible;
}

.editor_menu {
  position: absolute;
  display: none;
}

.editor_menu.opened {
  display: block;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* --- block type btn: */

.block_type_btn {
  font-weight: bold;
}

.block_type_btn.active {
  color: #188fff;
}

/* --- tasker: */

.editor_tasker {
  flex-shrink: 0;
  flex-grow: 0;
  visibility: hidden;
  margin-left: 2px;
}

.editor_tasker.opened {
  visibility: visible;
}

/* --- body: */

.editor_body {
  flex-grow: 1;
  position: relative;
}

.editor .editor_body::after,
.editor .editor_body::after,
.editor .editor_body::after {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border-left: 2px solid transparent;
}

.editor.hovered .editor_body::after {
  border-color: #188fff50;
}

.editor.focused .editor_body::after {
  border-color: #188fff;
}

/* --- imager: */

.editor_imager {
  padding: 4px 8px;
  display: none;
}

.editor.img .editor_imager {
  display: block;
}

/* --- content: */

.editor_content {
  color: #000;
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 24px;
  padding: 0 8px;
  font-family: "Helvetica Neue", Helvetica, Arial;
}

.editor_content:focus,
.editor_content:active {
  outline: 0;
}

/* .linked .editor_content {
  color: #1890ff;
} */

.editor.code .editor_content {
  font-family: 'Verily';
  font-size: 90%;
  /* border-color: #eee; */
  background-color: #00000010;
}

/* .editor.img .editor_content {} */

.editor.h1 .editor_content {
  font-size: 130%;
  font-weight: bold;
}

.editor.h2 .editor_content {
  font-size: 120%;
  font-weight: bold;
}

.editor.h3 .editor_content {
  font-size: 110%;
  font-weight: bold;
}

.editor.h4 .editor_content {
  font-size: 100%;
  font-weight: bold;
}

/* --- linker */

.editor_link_anchor {
  padding: 0 8px;
  display: inline-block;
  font-size: 80%;
  color: #aaa;
  border-radius: 2px;
}
