.editor {
  position: relative;
}

/* --- space: */

.editor_space_after {
  height: 16px;
}

/* --- box: */

.editor_box {
  display: flex;
  background-color: transparent;
  position: relative;
}

.editor.hovered .editor_box {
  background-color: transparent;
}

.editor.focused .editor_box {
  background-color: transparent;
}

.editor.selected .editor_content {
  background-color: #188fff20;
}

/* --- editor-side: */

.editor_side {
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  width: 75px;
  justify-content: flex-end;
  border-right: 1px solid #f2f2f2;
  background-color: #f5f5f7;
}

/* --- editor-side::before */

.editor .editor_content {
  position: relative;
}

.editor .editor_content::before {
  content: ' ';
  position: absolute;
  z-index: 1;
  top: 0px;
  bottom: 0px;
  left: -2px;
  border-left: 1px solid transparent;
}

.editor.hovered .editor_content::before {
  border-color: #ddd;
}

.editor.focused .editor_content::before {
  border-color: #bbb;
}

/* --- menu: */

.editor_menu_btn {
  visibility: hidden;
}

.editor_menu_icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 14px;
  line-height: 14px;
  border: 0px solid #ddd;
  border-radius: 1px;
  background-color: transparent;
}

.editor_menu_icon_text {
  display: inline-block;
  color: #bbb;
  font-weight: bold;
  transform: scale(0.65);
}

.editor.hovered .editor_menu_icon {
  color: #ddd;
  border-color: #ddd;
}

.editor.focused .editor_menu_icon {
  color: #bbb;
  border-color: #bbb;
}

.editor.hovered .editor_menu_btn,
.editor.focused .editor_menu_btn,
.editor.h1 .editor_menu_btn,
.editor.h2 .editor_menu_btn,
.editor.h3 .editor_menu_btn,
.editor.h4 .editor_menu_btn {
  visibility: visible;
}

.editor_menu_box {
  position: absolute;
  display: none;
}

.editor_menu.opened .editor_menu_box {
  display: block;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.05);
}

/* --- block type btn: */

.block_type_btn {
  font-weight: bold;
}

.block_type_btn.active {
  color: #176efe;
}

/* --- tasker: */

.editor_tasker {
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 2px;
  display: none;
}

.editor.task .editor_tasker {
  display: block;
}

/* --- body: */

.editor_body {
  flex-grow: 1;
  position: relative;
}

/* --- imager: */

.editor_imager {
  padding: 4px 32px;
  display: none;
}

.editor.imaged .editor_imager {
  display: block;
}

/* --- content: */

.editor_content {
  color: #000;
  border: 1px solid transparent;
  line-height: 24px;
  padding: 0 32px;
  font-family: "Helvetica Neue", Helvetica, Arial;
  word-break: break-all;
}

.editor_content:focus,
.editor_content:active {
  outline: 0;
}

.editor.task .editor_content > *:first-child,
.editor.task .editor_content > *:first-child > *:first-child {
  font-weight: bold !important;
}

.editor.code .editor_content {
  font-family: 'Verily';
  font-size: 90%;
  background-color: #00000005;
}

.editor.selected.code .editor_content {
  background-color: #188fff20;
}

.editor.h1 .editor_space_before,
.editor.h2 .editor_space_before,
.editor.h3 .editor_space_before,
.editor.h4 .editor_space_before {
  height: 16px;
}

.editor.first.h1 .editor_space_before,
.editor.first.h2 .editor_space_before,
.editor.first.h3 .editor_space_before,
.editor.first.h4 .editor_space_before {
  height: 0px;
}

.editor.h1 .editor_side,
.editor.h2 .editor_side,
.editor.h3 .editor_side,
.editor.h4 .editor_side {
  padding-top: 16px;
}

.editor.first.h1 .editor_side,
.editor.first.h2 .editor_side,
.editor.first.h3 .editor_side,
.editor.first.h4 .editor_side {
  padding-top: 0px;
}

.editor.h1 .editor_content {
  font-size: 150%;
  font-weight: bold;
}

.editor.h2 .editor_content {
  font-size: 140%;
  font-weight: bold;
}

.editor.h3 .editor_content {
  font-size: 130%;
  font-weight: bold;
}

.editor.h4 .editor_content {
  font-size: 110%;
  font-weight: bold;
}

/* --- linker: */

.editor_link {
  padding-left: 24px;
}

.editor_link_anchor {
  padding: 0 8px;
  display: inline-block;
  font-size: 80%;
  color: #aaa;
}
