.tasker {
  position: relative;
}

.tasker_menu {
  position: absolute;
  display: none;
}

.tasker_menu.opened {
  display: block;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 0 1px 1px #00000010;
}

.btn.tasker_btn {
  width: 36px;
  justify-content: center;
}

.btn.tasker_btn .tasker_btn_body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 7px;
  height: 14px;
  width: 28px;
}

.btn.tasker_btn .tasker_btn_text {
  display: block;
  font-weight: 500;
  transform: scale(0.6);
}

.btn.tasker_btn.new .tasker_btn_body {
  background-color: #faad14;
}
.btn.tasker_btn.new .tasker_btn_text {
  color: #fff;
}

.btn.tasker_btn.wip .tasker_btn_body {
  background-color: #176efe;
}
.btn.tasker_btn.wip .tasker_btn_text {
  color: #fff;
}

.btn.tasker_btn.ok .tasker_btn_body {
  background-color: #52c41a;
}
.btn.tasker_btn.ok .tasker_btn_text {
  color: #fff;
}

.btn.tasker_btn.up .tasker_btn_body {
  background-color: #ff4d4f;
}
.btn.tasker_btn.up .tasker_btn_text {
  color: #fff;
}

.btn.tasker_btn.del .tasker_btn_body {
  background-color: #aaaaaa;
}
.btn.tasker_btn.del .tasker_btn_text {
  color: #fff;
}
