
.scrollbar_small::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  background-color: transparent;
}

.scrollbar_small::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #00000020;
}

/* --- btn: */

.btn {
  cursor: pointer;
  display: flex;
  height: 24px;
  min-width: 24px;
  padding: 0;
  border: 1px solid #ccc;
  border-radius: 1px;
  background-color: #f8f8f8;
  align-items: center;
  justify-content: center;
}

.btn.square {
  width: 36px;
}

.btn.ghost {
  border-color: transparent;
  background-color: transparent;
}

.btn_border_icon {
  content: ' ';
  display: block;
  height: 2px;
  width: 2px;
  border-radius: 50%;
  background-color: transparent;
}

.btn:hover {
  border-color: #ddd;
  background-color: #fff;
}

.hovered .btn_border_icon {
  background-color: #ccc;
}

.focused .btn_border_icon {
  background-color: #999;
}

/* --- */
