
.scrollbar_small::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.05);
}

.scrollbar_small::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}
