.nav {
  display: flex;
  background-color: #333;
}

.nav_item {
  position: relative;
  cursor: pointer;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  font-weight: 500;
  color: #fff;
}

.nav_item_active {
  position: relative;
  cursor: pointer;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  font-weight: 500;
  color: #fff;
}

.nav_item_active_mask {
  z-index: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* border-top: 2px solid #fff; */
  background-color: rgba(255, 255, 255, 0.2);
}

.nav_new_button {
  cursor: pointer;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  color: #fff;
}
