.nav {
  display: flex;
  background-color: #333;
}

.nav_item {
  position: relative;
  cursor: pointer;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  font-weight: 500;
  color: #fff;
}

.nav_item_active {
  position: relative;
  cursor: pointer;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  font-weight: 500;
  color: #fff;
}

.nav_item_active_mask {
  z-index: 1;
  position: absolute;
  left: 4px;
  right: 4px;
  top: 4px;
  bottom: 4px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  /* background-color: rgba(24, 144, 255, 0.5); */
}

.nav_new_button {
  cursor: pointer;
  padding: 0 15px;
  height: 40px;
  line-height: 40px;
  color: #fff;
}
