.nav {
  display: flex;
  background-color: #333;
}

.nav_item {
  position: relative;
  cursor: pointer;
  padding: 0 15px;
  height: 34px;
  line-height: 34px;
  font-weight: 500;
  color: #fff;
}

.nav_item.active .nav_item_active_mask {
  display: block;
}

.nav_item_active_mask {
  z-index: 1;
  position: absolute;
  display: none;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.2);
}

.nav_new_button {
  cursor: pointer;
  padding: 0 15px;
  height: 34px;
  line-height: 34px;
  color: #fff;
}
