
.weekday {
  position: relative;
  flex-grow: 1;
  flex-shrink: 0;
  width: 14%;
}

.weekday_border {
  z-index: 1;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: -1px;
  top: 0;
  bottom: -1px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px;
}

.weekday.weekend .weekday_border {
  background-color: #f5f5f7;
}

.weekday_content {
  z-index: 2;
  position: relative;
}

.weekday_content_header {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial;
}

.weekday_content_body {
  padding: 0 5px;
  overflow: auto;
  height: 150px;
}

.weekday_label {
  display: inline-flex;
  /* font-size: 75%; */
  /* background-color: #fff; */
  border-radius: 3px;
  padding: 2px 4px;
  height: 20px;
  align-items: center;
}

.weekday_label.today {
  color: #188fff;
  /* background-color: #188fff20; */
}

/* weeks */

.weeks {
  width: 100%;
  padding: 0;
}

.weeks_input {
  width: 110px;
}

.weeks_body {
  border: 0 none;
}

