
._text {
  position: relative;
}

._text_indicator {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid #eee;
}

._text_content {
  position: relative;
  z-index: 1;
  border: 0 none;
  overflow: auto;
}

._text_textarea {
  position: relative;
  z-index: 2;
  display: block;
  line-height: 24px;
  margin: 0;
  padding: 0 5px;
  border: 0 none;
  background: transparent;
  resize: none;
  overflow: visible;
  font-family: 'Verily' !important;
  font-size: 12px;
}

._text_textarea:focus,
._text_textarea:active {
  border: 0 none;
  outline: 0;
  background: transparent;
}
