.imager {
  position: relative;
}

.imager_content {
  position: relative;
  display: inline-block;
}

.imager_content_placeholder {
  display: none;
  color: #ccc;
  padding: 0 4px;
}

.imager.empty .imager_content_placeholder {
  display: inline-block;
}

.imager_uploader {
  position: absolute;
  left: 0;
  top: 100%;
  visibility: hidden;
}

.imager:hover .imager_uploader {
  visibility: visible;
}

.imager_img {
  display: inline-block;
  width: auto;
  max-width: 80vw;
}
