.doc_body {
  margin-top: 60px;
  margin-left: 18%;
  max-width: 60%;
  position: relative;
}

.doc_body::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 75px;
  right: 0;
  content: ' ';
  background-color: #fff;
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
}

.doc_tail {
  height: 50vh;
  background-color: #e7e7e7;
}
