.toc {
  background-color: transparent;
  width: 255px;
  position: fixed;
  left: 20px;
  top: 90px;
}

.toc_title {
  padding: 5px 10px;
  color: #999;
}

.toc_item {
  display: block;
  padding: 5px 10px;
}
