
.mark_tabs {
  display: flex;
  background-color: #f4f4f4;
  border-bottom: 1px solid #eee;
  margin-bottom: 15;
  overflow: hidden;
  overflow-x: auto;
}

.marks_tabs_item {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

/* 废弃： */
.marks_tabs_item_divider {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border-right: 1px solid transparent;
}

.marks_tabs_item_focus {
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  border-bottom: 0 solid #333;
}

.marks_tabs_item_link {
  z-index: 3;
  position: relative;
  display: block;
  padding-left: 15px;
  padding-right: 5px;
  height: 30px;
  line-height: 30px;
  color: #666;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
  min-width: 80px;
}

.marks_tabs_item_delete {
  z-index: 3;
  position: relative;
  cursor: pointer;
  display: block;
  height: 30px;
  line-height: 30px;
  border: 0 none;
  background-color: transparent;
  padding: 0 5px;
  text-align: center;
  color: #666;
}
