
.mark_tabs {
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  margin-bottom: 15;
  overflow: hidden;
  overflow-x: auto;
}

.marks_tabs_item {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
}

.marks_tabs_item_focus {
  display: none;
  z-index: 2;
  position: absolute;
  left: 4px;
  right: 4px;
  top: 4px;
  bottom: 4px;
  border-radius: 4px;
  background-color: #eee;
}

.marks_tabs_item.focus .marks_tabs_item_focus {
  display: block;
}

.marks_tabs_item_weekday {
  margin-left: 4px;
}

.marks_tabs_item_task_status {
  display: inline-block;
  margin-left: 4px;
}

.marks_tabs_item_link {
  z-index: 3;
  position: relative;
  display: block;
  padding: 0 0 0 20px;
  height: 40px;
  line-height: 40px;
  color: #333;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
}

.marks_tabs_item_link:hover {
  color: #333;
}

.marks_tabs_item_more {
  z-index: 3;
  position: relative;
  cursor: pointer;
  display: block;
  height: 40px;
  line-height: 40px;
  border: 0 none;
  background-color: transparent;
  padding: 0 8px 0 0;
  text-align: center;
  color: #999;
}
