
.mark_tabs {
  display: flex;
  background-color: #fff;
  margin-bottom: 15;
  overflow: hidden;
  overflow-x: scroll;
}

.marks_tabs_item {
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 3px;
  overflow: hidden;
  height: 30px;
  margin: 4px 0 4px 4px;
}

.marks_tabs_item.focus {
  background-color: #ddd;
}

.marks_tabs_item.pin::after {
  content: ' ';
  position: absolute;
  left: 2px;
  top: 2px;
  width: 0;
  height: 0;
  border: 3px solid transparent;
  border-radius: 3px;
  border-color: #aaa transparent transparent #aaa;
}

.marks_tabs_item_link {
  display: flex;
  align-items: center;
  padding: 0 5px;
  color: #333;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
}

.marks_tabs_item_link:hover {
  color: #000;
}

.marks_tabs_item_pin {
  flex-shrink: 0;
  margin-right: 4px;
}

.marks_tabs_item_title {
  flex-shrink: 0;
  margin-left: 4px;
}

.marks_tabs_item_weekday {
  flex-shrink: 0;
  margin-left: 4px;
}

.marks_tabs_item_task_status {
  flex-shrink: 0;
  display: inline-block;
  margin-left: 4px;
}

.marks_tabs_item_more {
  flex-shrink: 0;
  cursor: pointer;
  display: block;
  border: 0 none;
  background-color: transparent;
  padding: 0 2px;
  text-align: center;
  color: #999;
}

.marks_tabs_item_more:hover {
}
