
.mark_tabs {
  display: flex;
  background-color: #f5f5f7;
  margin-bottom: 15px;
  overflow: hidden;
  overflow-x: scroll;
}

.marks_tabs_item {
  flex-shrink: 0;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 34px;
  border-radius: 0px;
}

.marks_tabs_item.focus {
  background-color: transparent;
}

.marks_tabs_item::after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 0;
  border-top: 2px solid transparent;
}

.marks_tabs_item.pin::after {
  border-color: #176efe90;
}

.marks_tabs_item_link {
  display: flex;
  align-items: center;
  padding: 0 5px;
  color: #333;
  font-weight: 500;
  white-space: nowrap;
  text-align: center;
}

.marks_tabs_item_link:hover {
  color: #176efe;
}

.marks_tabs_item.focus .marks_tabs_item_link {
  color: #176efe;
}

.marks_tabs_item_pin {
  flex-shrink: 0;
  margin-right: 4px;
}

.marks_tabs_item_title {
  flex-shrink: 0;
  margin-left: 4px;
}

.marks_tabs_item_weekday {
  flex-shrink: 0;
  margin-left: 4px;
}

.marks_tabs_item_task_status {
  flex-shrink: 0;
  display: inline-block;
  margin-left: 4px;
}

.marks_tabs_item_more {
  flex-shrink: 0;
  cursor: pointer;
  display: block;
  border: 0 none;
  background-color: transparent;
  padding: 0 2px;
  text-align: center;
  color: #999;
}
